<h1>New Comment</h1>

<form action="<%= comments_url %>" method="post" > 
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> 
   <input type="hidden" name="comment[post_id]" value="<%= @comment.post_id %>">


  <label>Content:
    <textarea name="comment[content]"></textarea>
  </label>

  <br>

  <input type="submit" value="Create Comment">

  <br>
  
</form>  